#container {
  display: grid;
  max-width: 700px;
  min-height: 700px;
  margin: 2rem auto;
  border: 2px solid;
  border-color: black;
}
#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset{
  background-color: rgba(100,0,100,1); 
}

.grid-item {
  display: grid;
  height: 1fr;
  width: 1fr;
  border: 1px solid;
  border-color: slategrey;
  background-color: rgba(255,255,255,1);
}
  
.grid-color {
  background-color: black;
}