#container {
  display: grid;
  max-width: 700px;
  min-height: 700px;
  margin: 2rem auto;
  border: 2px solid;
  border-color: black;
}

#reset{
  background-color: slateblue;  
}

.grid-item {
  display: grid;
  height: 1fr;
  width: 1fr;
  border: 1px solid;
  border-color: slategrey;
  background-color: pink;
}

.grid-color {
  background-color: black;
}